<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="'/pages/dashboard'">
      <h1>SYSCLIDENT</h1>
    </a>
    <span class="menu-spacer"></span>

    <button mat-button [routerLink]="'/pages/agenda'">
      <mat-icon>perm_contact_calendar</mat-icon> Agenda
    </button>
    <button mat-button [routerLink]="'/pages/pacientes'">
      <mat-icon>people_outline</mat-icon> Pacientes
    </button>
    <button mat-button [matMenuTriggerFor]="menuInventario">
      <mat-icon>shopping_cart</mat-icon> Inventario
    </button>
    <mat-menu #menuInventario="matMenu">
      <button mat-menu-item [routerLink]="'/pages/producto'">Productos</button>
      <button mat-menu-item [routerLink]="'/pages/categorias'">Categorias</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuAdministracion">
      <mat-icon>build</mat-icon>Administracion
    </button>

    <mat-menu #menuAdministracion="matMenu">
      <button mat-menu-item [routerLink]="'/pages/procedimientos'">Procedimientos</button>
      <button mat-menu-item [routerLink]="'/pages/doctores'">Doctores</button>
      <button mat-menu-item [routerLink]="'/pages/egresos'">Egresos</button>
      <button mat-menu-item [routerLink]="'/pages/ingresos'">Ingresos</button>
      <button mat-menu-item [routerLink]="'/pages/empresa'">Empresa</button>
      <button mat-menu-item [routerLink]="'/pages/usuario'">Usuario</button>

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuReportes">
      <mat-icon>leaderboard</mat-icon> Reportes
     </button>
    <mat-menu #menuReportes="matMenu">
      <button [routerLink]="'/pages/reporte-finanzas'" mat-menu-item>Reporte de Finanzas</button>
      <!--<button [routerLink]="'/pages/reporte-controles'" mat-menu-item >Reporte de controles</button> -->
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
