:host {
  display: flex;
  justify-content: center;
}

mat-card,
form {
  margin: 50px;
  width: 100%;
}

mat-form-field {
  width: 45%;
  margin-right: 2.5%;
}

mat-card-title{
  margin-left: 3rem;
}
mat-card-content {
  display: flex;
  justify-content: center;
}
.btn-form{
  width: 45%;
  margin-right: 2.5%;
}
