<mat-card class="principal">
    <mat-card-title>
        Planes de tratamientos
    </mat-card-title>
    <mat-card-subtitle>
        <button mat-raised-button color="primary" [routerLink]="['/pages/paciente/ver/',idPaciente,'tratamiento']">
            <span class="material-icons">
                note_add
            </span>
            Nuevo plan de tratamiento
        </button>
    </mat-card-subtitle>
    <mat-card-content>

      <mat-card class="card-tratamiento mat-elevation-z8" *ngFor="let t of tratamientosActivos" (click)='callEditTratamiento(t.idTratamiento)'>
        <mat-card-title>
            # {{t.idTratamiento}}: {{t.nombre}}
        </mat-card-title>
        <mat-card-content class="content-tratamiento">
            
            <div class="item-tratamiento">
                <h5>PROFESIONAL</h5>
                <p>Dr(a). {{t.doctor.apellidos}} {{t.doctor.nombres}}</p>
            </div>

            <div class="item-tratamiento">
                <h5>FECHA REGISTRO</h5>
                <p>{{t.fechaRegistro | date:'longDate'}}</p>
            </div>

            <div class="item-tratamiento">
                <h5>TOTAL MONTO</h5>
                <p >S/. {{t.montoTotal}} </p>
            </div>

            <div class="item-tratamiento">
                <h5>ETAPA</h5>
                <p>{{t.etapa =='A' ? 'VIGENTE' : 'FINALIZADO'}}</p>
            </div>
    
        </mat-card-content>
      </mat-card>


    </mat-card-content>
</mat-card>
