mat-card-title{
    margin-bottom: 2rem;
}

.principal{
    margin: 1rem;
}

.content-tratamiento{
    display: flex;
}

.item-tratamiento{
    flex: 1 1 0px;
}

.card-tratamiento{
    cursor: pointer;
    margin-top: 1rem;
}

h5{
    font-weight: bold;
    text-transform: uppercase;
    color: #2196f3;
}