<mat-card>
    <mat-card-title>
        Alertas del paciente
    </mat-card-title>
    <mat-card-subtitle>
        <button color="primary" mat-raised-button (click)="openDialog()">
            <mat-icon>
                add_alert
            </mat-icon>
            Alertas predeterminadas
        </button>
    </mat-card-subtitle>
    <form [formGroup]="alertasForm">
    <mat-card-content>
        <ng-container formArrayName="alertas">
        <section *ngFor="let item of alertas; let i = index">
            <mat-checkbox [value]="item.idAlerta" (change)="toggle($event)">{{item.nombre}}</mat-checkbox> 
        </section>
        </ng-container> 
    </mat-card-content>
    <mat-card-actions>

        <button mat-raised-button color="primary" (click)="saveAlertas()">
            <mat-icon>
                save
            </mat-icon>
            Grabar
        </button>
    </mat-card-actions>
    </form>
</mat-card>