<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="editRegistroPago">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos del pago a realizar</ng-template>

      <mat-card>
        <mat-card-content class="container-pagar">

          <mat-form-field appearance="outline">
            <mat-label>Fecha de pago</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaPago" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Monto a pagar </mat-label>
            <input type="number" matInput formControlName="montoPagar" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo de pago</mat-label>
            <mat-select matNativeControl formControlName="tipoPago" required>
              <mat-option value="EFECTIVO">Efectivo</mat-option>
              <mat-option value="VISA">Visa</mat-option>
              <mat-option value="TRANSFERENCIA">Transferencia</mat-option>
              <mat-option value="DEPOSITO">Deposito</mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Numero de comprobante</mat-label>
            <input matInput formControlName="numeroComprobante" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Comentarios</mat-label>
            <textarea matInput formControlName="comentarios"> </textarea>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" [disabled]="firstFormGroup.invalid" (click)="grabarPago(stepper)">
              <mat-icon>attach_money</mat-icon>
              Pagar
            </button>
            <button mat-raised-button color="primary" (click)="clear()">
              <mat-icon>clear</mat-icon>
              Limpiar
            </button>
          </div>



        </mat-card-content>
      </mat-card>


    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Comprobante de pago</ng-template>

    <div id="comprobante-pago" class="container-comprobante">
      <table cellpadding="20">

        <tr class="cabeceras">
          <td colspan="3">CLIENTE</td>
          <td>DOCUMENTO IDENTIDAD</td>
          <td>FECHA COMPROBANTE</td>
        </tr>

        <tr class="body">
          <td colspan="3">{{clienteComprobante}}</td>
          <td>{{nroDocumentoComprobante}}</td>
          <td>{{fechaComprobante | date:'dd-MM-yyy'}}</td>
        </tr>
        <br>
        <br>
        <tr class="cabeceras">
          <td>DESCRIPCION</td>
          <td>TIPO DE PAGO</td>
          <td>FECHA DE PAGO</td>
          <td>N° COMPROBANTE</td>
          <td>MONTO PAGADO</td>
        </tr>
        <tr class="body">
          <td>{{descripcionComprobante}} <br> {{doctorComprobante}} </td>
          <td>{{tipoPagoComprobante}}</td>
          <td>{{fechaPagoComprobante | date:'dd-MM-yyy' }}</td>
          <td>{{numeroComprobante}}</td>
          <td>S/. {{montoPagadoComprobante}}</td>
        </tr>

      </table>

    </div>

    <div>
      <button mat-raised-button color="primary" [useExistingCss]="true" printSectionId="comprobante-pago" ngxPrint>
        <mat-icon>print</mat-icon>
        Imprimir
      </button>
      <button mat-raised-button color="primary" (click)="stepper.reset()">
        <mat-icon>loop</mat-icon>
        Reiniciar
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>