.card-container {
    display: flex;
    flex-flow: row wrap;
  }
  mat-toolbar{
      background-color: #bbdefb;
    margin: 20px;
  }
  
  .card-content {
    width: 380px;
    box-sizing: border-box;
    margin: 20px;
    cursor: pointer;
  }

  img{
      height: 310px;
      cursor: pointer;
  }
  
  .seleccion-images{
      margin: 2rem;
  }
  .btns-accion{
      text-align: center;
  }

  .btn-principal{
      margin: 20px;
  }
  .content-principal{
      margin: 1rem;
  }
  .card-content{
    border: 1px solid #2196f3;
    cursor: auto;
   }

   .titles{
       color: #2196f3;;
   }

mat-card-actions {
    text-align: center;
}

   