:host {
  display: flex;
  justify-content: center;
}
.content{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
}
mat-card,
form {
  margin-left: 10px;
  width: 100%;
}

mat-form-field {
  width: 45%;
  margin-right: 2.5%;
}

mat-card-title{
  margin-bottom: 20px;
  font-size: 18px;
}

mat-card-content {
  display: flex;
  justify-content: center;
}
.btn-form{
  width: 45%;
  margin-right: 2.5%;
}
