<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <form [formGroup]="form">
       <mat-card-content class="container-paciente">
     
            <mat-form-field appearance="outline" class="item-container"> 
                <mat-label>Apellidos del paciente</mat-label>
                <input type="text" matInput formControlName="apellidos" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container"> 
                <mat-label>Nombres del paciente</mat-label>
                <input type="text" matInput formControlName="nombres" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container"> 
                <mat-label>DNI</mat-label>
                <input type="text" matInput formControlName="dni" maxlength="8">
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container"> 
                <mat-label>N° Historia</mat-label>
                <input type="text" matInput formControlName="nroHistoria">
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container">

                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

              </mat-form-field>

            <mat-form-field appearance="outline" class="item-container">
                <mat-label>Telefono</mat-label>
                <input type="text" matInput formControlName="telefono">
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container">
                <mat-label>Celular</mat-label>
                <input type="text" matInput formControlName="celular">
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container">
                <mat-label>Direccion</mat-label>
                <input type="text" matInput formControlName="direccion">
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container">
                <mat-label>Lugar de procedencia</mat-label>
                <input type="text" matInput formControlName="lugarProcedencia">
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="item-container">

                <mat-label>Fecha de Inicio</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>

              </mat-form-field>
        
        <div class="btn-container">
            <button class="btn-form" [disabled]="form.invalid" (click)="onSubmit()" mat-raised-button
            color="primary">
            <mat-icon>save</mat-icon>
            {{labelSubmit}}</button>
            <button class="btn-form" (click)="onCancel()" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>
                Cancelar</button>
        </div>
          
   
    </mat-card-content>
</form>
</mat-card>

    