  
  .container-paciente{
    display: flex;
    flex-wrap: wrap;
  }

  .item-container, .btn-container{
    margin-right: 30px;
    flex: 1 0 35%;
  }

  .btn-container{
    display: flex;
  }

  button{
    flex: 1 0 35%;
    margin: 20px;
  }



