<mat-card>
    <mat-card-title>
        Modificacion de estado de la cita
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="estadoCita" >
                <mat-option value="PENDIENTE">Pendiente</mat-option>
                <mat-option value="ATENDIDA">Atentida</mat-option>
                <mat-option value="CANCELADA">Cancelada</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="modificarEtapa()">
            Cambiar
        </button>
        <button mat-raised-button color="primary" (click)="cerrar()">
            Salir
        </button>
    </mat-card-actions>
</mat-card>